*{
    margin: 0%;
    padding: 0%;
}
.heading{
    padding: 20px;
    text-align: center;
}
.cell{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 15px;
    border-radius: 8px;
    border: 1px solid #000;
    justify-content: center;
    height: 335px;
    background-color: lightskyblue;
    align-items: center;
}
.cell img{
    margin: 15px;
    width: 70%;
    height: 60%;
    align-items: center;
    border: 1px solid #000;
}
.cell h2{
    text-align: center;
}
.cell p{
    text-align: justify;
    padding: 10px;
}